@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");

:root {
    --bg-light: #e5e5e5;
    --black: #000000;
    --white: #ffffff;
    --purple: #4777e5;
}

body {
    font-family: "Karla", sans-serif;
    height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 61px 219px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar-image {
    width: 95px;
    height: 96px;
}

.avatar-text a {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: var(--black);
}

.nav-items {
    display: flex;
}

.nav-items li a {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
    margin: 0 30px;
}

/* Section */

.section {
    margin-top: 136px;
    text-align: center;
}

.hello-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.description-text {
    margin-top: 70px;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.01em;
}

.description-inner-elements {
    color: var(--purple);
}

.description-footer {
    margin-top: 104px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
